
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6b6e70 !important;
    background-color: #141414 !important;

}

.col {
    border: 1px;
    border-color: red;
    text-align: center;
}

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    padding-top: 0%;
}